import airflow
from airflow import models, settings
from airflow.contrib.auth.backends.password_auth import PasswordUser
{% for login in airflow_login %}
user = PasswordUser(models.User())
user.username = '{{ login.username }}'
user.email = '{{ login.email }}'
user.password = '{{ login.password }}'
session = settings.Session()
session.add(user)
session.commit()
session.close()
{% endfor %}
exit()
